<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>글 상세</title>
    <style>
        .container {
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            margin: auto;
            background-color: #f9f9f9;
        }
        .title {
            font-size: 20px;
            font-weight: bold;
        }
        .actions a {
            margin-right: 10px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
<p th:if="${us}" th:text="${us}"></p>
<div class="container>">
    <p class="title" th:text="${board.title}"></p>

    <p><strong>Name:</strong> <span th:text="${board.name}"></span></p><br>
    <p><strong>Content:</strong> <div th:text="${board.content}"></div></p><br>
    <p><strong>Created At:</strong> <span th:text="${board.createdAt}"></span></p>
</div>


<h2 style="color: red;">주의! 만든놈이 너무 무능하고 나태하여 덧글창이 말이 아닙니다</h2>
<h3 style="color: red;">따라서 덧글은 그저 장식이니 ㄹㅇㅋㅋ하고 넘어가십시오</h3>

덧글창
<div>

</div>


덧글 달기
<form th:action="@{/boards/delete/{id}(id=${board.id})}" method="post" th:object="${board}">
    <label for="name">이름</label>
    <input type="text" id="name" th:field="*{name}" required>
    <label for="password">패스워드</label>
    <input type="password" id="password" th:field="*{password}" required> <br> <br>
    <label for="content">내용</label> <br/>
    <textarea type="text" id="content" th:field="*{content}" rows="4" cols="50"></textarea> <br> <br>

    <button type="submit">덧글달기</button>
</form>


<a th:href="@{/boards/list}">리스트로</a>
<a th:href="@{/boards/updateform/{id}(id=${board.id})}">최수종</a>
<a th:href="@{/boards/deleteform/{id}(id=${board.id})}">김삭제</a>
</body>
</html>